@use '../../../styles/global';
@use '../../../styles/spacing';
@use '../../../styles/colors';

:host {
  display: contents;
}

[part=base] {
  width: fit-content;
  position: relative;
}

:host([required]:not([required=false])) {
  ::slotted([slot=label]),
  label {
    &::after {
      content: "*";
      color: colors.get(error, 500);
    }
  }
}

::slotted([slot=label]),
label {
  display: block;
  font-weight: global.font-weight(semi-bold);
  margin-bottom: spacing.get(2xs);
}

::slotted([slot=helper-text]),
small {
  display: block;
  margin-top: spacing.get(2xs);
  color: colors.get(medium, 600);
}

[part=fixed-container] {
  position: absolute;
  right: 0;
  top: 0;
  display: flex;
  gap: spacing.get(2xs);
  transform: translateX(100%);
}
