@use '../../../styles/global';
@use '../../../styles/spacing';

:host {
  display: block;
  width: fit-content;
}

label {
  display: block;
  font-weight: global.font-weight(semi-bold);
  margin-bottom: spacing.get(2xs);
}
