@use '../../styles/styles' as *;

:host {
  display: contents;
  --color: light-dark(#{primary(500)}, #{primary(300)});
  --visited-color: light-dark(#{primary(600)}, #{primary(350)});
}

a {
  display: inline-flex;
  color: var(--color);
  text-decoration: none;
  outline-color: primary(300);
  outline-offset: 3px;
}

.underline {
  text-decoration: underline;
}

.bold {
  font-weight: font-weight(semi-bold);
}
