:host {
  display: contents;
  color: inherit;
  font-family: inherit;
}

a {
  display: inline-flex;
}

.underline {
  text-decoration: underline;
}

.bold {
  font-weight: var(--je-font-semi-bold);
}
