@use '../../styles/styles' as *;

/**
 * @prop --height: Fixed height
 * @prop --font-size: Font size
 * @prop --inline-padding: Inner inline padding
 * @prop --color: Text color
 * @prop --background: Default background color
 * @prop --hover-background: Hovered background color
 * @prop --active-background: Pressed background color
 */

button {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 4px;
  position: relative;
  box-sizing: border-box;
  border-radius: radius-get(sm);
  margin: 0;
  padding-block: 0;
  padding-inline: var(--inline-padding);
  cursor: pointer;
  flex-shrink: 0;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  user-select: none;
  text-transform: uppercase;
  text-wrap: wrap;
  font-family: inherit;
  font-size: var(--font-size);
  font-weight: font-weight(semi-bold);
  width: var(--width);
  height: var(--height);
  min-width: var(--min-width);
  color: var(--color);
  background-color: var(--background);
  transition: all 125ms ease-in-out;
  outline-color: primary(300);
  outline-offset: 3px;
  border: solid 1px transparent;

  @media (hover: hover) {
    &:hover {
      --background: var(--hover-background);
    }
  }

  &:active {
    --background: var(--active-background);
  }

  &:disabled {
    opacity: 0.6;
    cursor: not-allowed;
  }

  &.outline {
    color: var(--background);
    background-color: transparent;
    border-color: var(--background);
  }

  &.clear {
    color: var(--background);
    background-color: transparent;
    font-weight: font-weight(bold);

    @media (hover: hover) {
      &:hover {
        opacity: 0.8;
      }
    }
  }
}

::slotted([slot=badge]) {
  top: 0;
  right: 0;
  position: absolute;
  transform: translate(50%, -50%);
  border-radius: 14px;
  color: var(--background);
  background-color: var(--color);
  padding-inline: 4px;
  height: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
}
