@use '../../styles/styles' as *;

:host {
  display: grid;
  grid-template-columns: auto 1fr auto;
  border-radius: radius-get(md);
  box-sizing: border-box;
  align-items: center;
  transition: background-color 75ms ease-in-out;
}

:host(:hover) {
  background-color: light-dark(primary(100), secondary(850));
}

div {
  display: flex;
  align-items: center;
  padding-inline: spacing-get(3xs);
}

button {
  display: flex;
  margin: 0;
  height: 2rem;
  padding: 0;
  border: 0;
  box-sizing: border-box;
  font-family: inherit;
  padding-inline: spacing-get(xs);
  cursor: pointer;
  background-color: transparent;
  color: inherit;
  align-items: center;
}
