@use '../../styles/styles' as *;

:host {
  display: contents;

  --content-open-padding: #{spacing-get(md)} 0 0 0;
}

button {
  width: 100%;
  margin: 0;
  padding: 0;
  border: 0;
  font-family: inherit;
  background-color: inherit;
  color: inherit;
  cursor: pointer;
  display: block;
}

summary {
  font-size: font-size(md);
}

je-icon {
  transition: rotate 250ms ease-in-out;
}

[part=content-container] {
  box-sizing: border-box;
  display: grid;
  grid-template-rows: 0fr;
  padding: 0;
  opacity: 0;
  transition: all 250ms ease-out;
}

[part=content] {
  overflow: hidden;
}

:host([open]) {
  [part=content-container] {
    grid-template-rows: 1fr;
    opacity: 1;
    padding: var(--content-open-padding);
  }
  je-icon {
    rotate: 90deg;
  }
}
