:host {
  display: contents;

  --content-open-padding: var(--je-spacing-md) 0 0 0;
}

button {
  width: 100%;
  margin: 0;
  padding: 0;
  border: 0;
  font-family: inherit;
  background-color: inherit;
  color: inherit;
  cursor: pointer;
  display: block;
}

summary {
  font-size: var(--je-font-md);
}

je-icon {
  transition: rotate 250ms ease-in-out;
  &.open {
    rotate: 90deg;
  }
}

[part="content-container"] {
  box-sizing: border-box;
  display: grid;
  grid-template-rows: 0fr;
  padding: 0;
  opacity: 0;
  transition: all 250ms ease-out;
  &.open {
    grid-template-rows: 1fr;
    opacity: 1;
    padding: var(--content-open-padding);
  }
}

[part="content"] {
  overflow: hidden;
}
