:host {
  display: block;
}

[part=summary-container] {
  display: flex;
  justify-content: space-between;
  cursor: pointer;
  user-select: none;
  -webkit-user-select: none;
  align-items: center;
}

[part=details-icon] {
  height: 24px;
  width: 24px;
  transition: transform 250ms ease-in-out;
}

[part=details-container] {
  box-sizing: border-box;
  display: grid;
  grid-template-rows: 0fr;
  padding-top: 0;
  opacity: 0;
  transition: all 250ms ease-out;
}

:host([state=open]) {
  [part=details-container] {
    grid-template-rows: 1fr;
    opacity: 1;
    padding-top: var(--je-spacing);
  }
}

:host([state=closed]) {
  [part=details-icon] {
    height: 24px;
    width: 24px;
    transform: rotate(-180deg);
  }
}
