:host {
  display: flex;
  flex-direction: column;
  gap: var(--je-spacing-3xs);
}

:host(:focus) div[part=container] {
  border-color: light-dark(var(--je-primary-500), var(--je-primary-200));
}

:host(:state(--user-invalid)) div[part=container] {
  border-color: light-dark(var(--je-danger-400), var(--je-danger-300));
}

je-note {
  margin-left: var(--je-spacing-xs);
}

button {
  font-family: inherit;
  box-sizing: border-box;
  display: flex;
  cursor: pointer;
  gap: var(--je-spacing-xs);
  border-radius: var(--je-radius-md);
  border: solid 1px light-dark(var(--je-neutral-500), var(--je-neutral-400));
  align-items: center;
  background-color: light-dark(var(--je-primary-50), var(--je-primary-950));
  color: light-dark(var(--je-neutral-900), var(--je-neutral-50));
  padding-inline: var(--je-spacing-xs);
  padding-block: 0;
  margin: 0;
  &.sm {
    height: 2.5rem;
  }
  &.md {
    height: 3rem;
  }
  &.lg {
    height: 3.5rem;
  }
  &:disabled {
    opacity: 0.6;
    cursor: not-allowed;
  }
}

[part=content] {
  display: flex;
  flex: 1;
  font-size: var(--je-font-md);
  font-weight: var(--je-font-light);
  color: light-dark(var(--je-neutral-950), var(--je-neutral-50));

  &.placeholder {
    color: light-dark(var(--je-neutral-700), var(--je-neutral-600));
    font-size: var(--je-font-md);
    font-weight: var(--je-font-light);
  }
}

je-icon {
  transition: rotate 300ms ease-in-out;
  &.open {
    rotate: 180deg;
  }
}

je-popover {
  --padding: 0;
}
