@use '../../styles/global' as global;
@use '../../styles/colors' as colors;

:host {
  display: block;
  width: fit-content;

  --background: rgb(233, 236, 236);
  --color: colors.get(medium, 900);
  --box-shadow: 0px 4px 16px 0px rgba(0, 0, 0, 0.12);
  --border: solid 1px rgb(197, 200, 204);
}

:host([darkmode]) {
  --background: rgb(41, 45, 46);
  --color: colors.get(medium, 50);
  --box-shadow: 0px 4px 16px 0px rgba(68, 68, 68, 0.12);
  --border: solid 1px rgb(86, 87, 90);
}

[part=trigger-container] {
  display: contents;
}

[part=content] {
  width: var(--content-width, max-content);
  max-height: var(--content-height, var(--available-height));
  opacity: 0;
  transition: opacity 0.2s ease-in-out;
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 700;
  border-radius: global.border-radius();
  border: var(--border);
  overflow-x: hidden;
  overflow-y: auto;
  font-family: global.font-family();
  background-color: var(--background, canvas);
  color: var(--color, canvastext);
  box-shadow: var(--box-shadow);
  box-sizing: border-box;
  &.open {
    display: block;
  }
}

[part=backdrop] {
  opacity: 0;
  transition: opacity 0.2s ease-in-out;
  z-index: 699;
  position: fixed;
  width: 0;
  height: 0;
  left: 0;
  top: 0;
  background: global.backdrop-color();
  &.clear {
    background: rgba(0, 0, 0, 0);
  }
  &.open {
    height: 100%;
    width: 100%;
  }
  &.pointer {
    cursor: pointer;
  }
}
