:host {
  display: block;
}

.content {
  font-family: var(--je-font-family);
  position: absolute;
  background-color: var(--je-popover-background-color, canvas);
  color: var(--je-popover-color, canvastext);
  padding-inline: var(--je-padding-sm, 10px);
  box-shadow: var(--je-popover-box-shadow);
  border: var(--je-popover-border);
  z-index: 1000;
  border-radius: 2px;
  overflow: hidden;
}

.content-transition {
  opacity: 0;
  transition: opacity 0.2s ease-in-out;
}

.content.open {
  opacity: 1;
}

.backdrop {
  display: block;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: var(--je-backdrop-color, rgba(0, 0, 0, 0.5));
  z-index: 999;
}

.backdrop-transition {
  opacity: 0;
  transition: opacity 0.2s ease-in-out;
}

.backdrop.fade {
  opacity: 1;
}

.clear {
  background: rgba(0, 0, 0, 0);
}
