:host {
  display: block;

  --je-popover-background-color: rgb(233, 236, 236);
  --je-popover-color: var(--je-medium-900);
  --je-popover-box-shadow: 0px 4px 16px 0px rgba(0, 0, 0, 0.12);
  --je-popover-border: solid 1px rgb(197, 200, 204);
}

:host([darkmode]) {
  --je-popover-background-color: rgb(41, 45, 46);
  --je-popover-color: var(--je-medium-50);
  --je-popover-box-shadow: 0px 4px 16px 0px rgba(68, 68, 68, 0.12);
  --je-popover-border: solid 1px rgb(86, 87, 90);
}

.content {
  font-family: var(--je-font-family);
  position: absolute;
  background-color: var(--je-popover-background-color, canvas);
  color: var(--je-popover-color, canvastext);
  //padding-inline: var(--je-spacing-xs, 10px);
  box-shadow: var(--je-popover-box-shadow);
  border: var(--je-popover-border);
  z-index: 1000;
  border-radius: var(--je-border-radius, 2px);
  overflow: hidden;
}

.content-transition {
  opacity: 0;
  transition: opacity 250ms ease-in-out;
}

.content.open {
  opacity: 1;
}

.backdrop {
  display: block;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: var(--je-backdrop-color, rgba(0, 0, 0, 0.5));
  z-index: 999;
}

.backdrop-transition {
  opacity: 0;
  transition: opacity 250ms ease-in-out;
}

.backdrop.fade {
  opacity: 1;
}

.clear {
  background: rgba(0, 0, 0, 0);
}
