:host {
  display: block;
  width: 207px;

  --height: 42px;
  --border-color: transparent;
  --background: var(--je-medium-100);
  --color: var(--je-medium-900);
}

:host([darkmode]) {
  --background: var(--je-medium-800);
  --color: var(--je-medium-50);
}

:host([expand]) {
  width: 100%;
}

:host(:invalid) div[part=outer-container].touched {
  --border-color: var(--je-error-500, red);
}

div[part='outer-container'] {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: var(--je-spacing-2xs, 8px);
  height: var(--height);
  background-color: var(--background, field);
  color: var(--color, fieldtext);
  padding-inline: var(--je-spacing-xs, 10px);
  border-radius: var(--je-border-radius, 2px);
  overflow: hidden;
  border: solid 1px var(--border-color);
  transition: border 125ms ease-in-out;
  &.focus {
    --border-color: var(--je-primary-500, accentcolor);
  }
  &.disabled {
    opacity: 0.6;
    cursor: default;
  }
}

div[part='start-container'],
div[part='end-container'] {
  display: flex;
}

div[part='main-container'] {
  display: inline-block;
  overflow: hidden;
  color: var(--je-medium-600);
  text-wrap: nowrap;
  text-overflow: ellipsis;
  margin-right: auto;
  &:focus {
    outline: 0;
  }
}

label {
  font-weight: var(--je-font-semi-bold);
}

je-icon {
  transition: transform 250ms ease;
}

je-icon.open {
  transform: rotate(180deg);
}

je-pill {
  margin-right: var(--je-spacing-3xs);
}

je-popover {
  width: 100%;
}
