@use '../../styles/styles' as *;

:host {
  display: block;
  width: fit-content;
}

:host([buttons]) {
  slot:not([name]) {
    display: flex;
    border: solid 1px light-dark(medium(300), medium(700));
    border-radius: radius-get(lg);
    overflow: hidden;
    box-sizing: border-box;
  }
}
