@use '../../styles/styles' as *;

:host {
  display: flex;
  align-items: center;
  justify-content: space-between;
  box-sizing: border-box;
  width: 100%;

  --gap: #{spacing-get(sm)};
}

[part=main-container],
[part=end-container] {
  display: flex;
  align-items: center;
  gap: var(--gap);
}

[part=main-container] {
  justify-content: flex-start;
}

[part=end-container] {
  justify-content: flex-end;
}
