:host {
  display: flex;
  width: 100%;
  align-items: center;
  justify-content: space-around;
  gap: var(--je-toolbar-gap);
  color: var(--je-color, inherit);
  background-color: var(--je-background-color, inherit);

  --je-toolbar-gap: var(--je-spacing, 16px);
}

.center-container {
  flex: 1;
  display: flex;
  gap: var(--je-toolbar-gap);
}
