@use '../../styles/colors';

:host {
  display: contents;

  --height: 42px;
  --outline-color: #{colors.primary(200)};
  --background: light-dark(#{colors.medium(100)}, #{colors.medium(800)});
  --color: light-dark(#{colors.medium(900)}, #{colors.medium(50)});
}

:host([expand]) {
  [part=container] {
    width: 100%;
  }
}

:host(:state(--user-invalid)) {
  --outline-color: var(--je-error-500, red);
}

:host(:state(--disabled)) {
  [part=container] {
    opacity: 0.6;
    cursor: not-allowed;
  }
}

:host(:state(--required)) {
  [part=label]::after {
    content: "*";
    color: colors.error();
  }
}

[part=error-message] {
  padding: var(--je-spacing-xs, 10px);
  color: colors.error();
}

:host(:focus) {
  [part=container] {
    outline: solid 1px var(--outline-color);
    outline-offset: 3px;
  }
}

div[part=container] {
  display: flex;
  align-items: center;
  gap: var(--je-spacing-2xs, 8px);
  min-height: var(--height);
  max-height: var(--height);
  width: fit-content;
  background-color: var(--background, field);
  color: var(--color, fieldtext);
  padding-inline: var(--je-spacing-xs, 10px);
  border-radius: var(--je-border-radius, 2px);
  box-sizing: border-box;
  transition: border 125ms ease-in-out;
}

[part=label] {
  font-weight: var(--je-font-semi-bold);
}

input {
  font-family: var(--je-font-family, inherit);
  font-size: var(--je-font-size, 1rem);
  background: transparent;
  color: inherit;
  flex: 1;
  border: none;
  padding-top: 0;
  padding-bottom: 0;
  padding-left: 0;
  padding-right: 0;
  margin-top: 0;
  margin-bottom: 0;
  margin-left: 0;
  margin-right: 0;
  width: inherit;

  &::placeholder {
    font-family: var(--je-font-family, inherit);
    font-size: var(--je-font-size, 1rem);
    color: var(--je-medium-600);
  }

  &:focus {
    outline: 0;
  }

  &[type=password]::-ms-reveal,
  &[type=password]::-ms-clear {
    display: none !important;
  }
}

[part=helper] {
  display: block;
  margin-top: var(--je-spacing-2xs, 8px);
  padding-left: var(--je-spacing-xs, 10px);
  color: var(--je-medium-600);
}
