@use '../../styles/colors';
@use '../../styles/spacing';
@use '../../styles/global';

:host {
  display: contents;

  --height: 42px;
  --outline-color: #{colors.primary(300)};
  --background: light-dark(#{colors.medium(100)}, #{colors.medium(800)});
  --color: light-dark(#{colors.medium(900)}, #{colors.medium(50)});
}

:host([expand]) {
  [part=container] {
    width: 100%;
  }
}

:host(:state(--user-invalid)) {
  --outline-color: #{colors.error()};
}

:host(:state(--disabled)) {
  [part=container] {
    opacity: 0.6;
    cursor: not-allowed;
  }
}

:host(:state(--required)) {
  [part=label]::after {
    content: "*";
    color: colors.error();
  }
}

[part=error-message] {
  padding: spacing.get(xs);
  color: colors.error();
}

:host(:focus) {
  [part=container] {
    outline: solid 1px var(--outline-color);
    outline-offset: 2px;
  }
}

div[part=container] {
  display: flex;
  align-items: center;
  gap: spacing.get(2xs);
  min-height: var(--height);
  max-height: var(--height);
  width: fit-content;
  background-color: var(--background);
  color: var(--color);
  padding-inline: spacing.get(xs);
  border-radius: global.border-radius();
  box-sizing: border-box;
  transition: border 125ms ease-in-out;
}

[part=label] {
  font-weight: global.font-weight(semi-bold);
}

input {
  font-family: global.font-family();
  font-size: global.font-size();
  background: transparent;
  color: inherit;
  flex: 1;
  border: none;
  padding-top: 0;
  padding-bottom: 0;
  padding-left: 0;
  padding-right: 0;
  margin-top: 0;
  margin-bottom: 0;
  margin-left: 0;
  margin-right: 0;
  width: inherit;

  &::placeholder {
    font-family: global.font-family();
    font-size: global.font-size();
    color: colors.medium(600);
  }

  &:focus {
    outline: 0;
  }

  &[type=password]::-ms-reveal,
  &[type=password]::-ms-clear {
    display: none !important;
  }
}

[part=helper] {
  display: block;
  margin-top: spacing.get(2xs);
  padding-left: spacing.get(xs);
  color: colors.medium(600);
}
