:host {
  display: block;
  width: fit-content;

  --je-height: 42px;
  --je-border-color: transparent;
}

:host([expand]) {
  width: 100%;
}

div[part='outer-container'] {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: var(--je-gap-sm, 8px);
  height: var(--je-height);
  background-color: var(--je-input-background, field);
  color: var(--je-input-color, fieldtext);
  padding-inline: var(--je-padding-sm, 10px);
  border-radius: var(--je-border-radius, 2px);
  overflow: hidden;
  border: solid 1px var(--je-border-color);
  transition: border 150ms ease-in-out;
  &.focus {
    --je-border-color: var(--je-primary-500, accentcolor);
  }
  &.touched.invalid {
    --je-border-color: var(--je-error-500, red);
  }
  &.disabled {
    opacity: 0.6;
    cursor: default;
  }
}

div[part='start-container'],
div[part='end-container'] {
  display: flex;
}

label {
  font-weight: var(--je-font-semi-bold);
}

input {
  font-family: var(--je-font-family, inherit);
  font-size: var(--je-font-size, 1rem);
  background: transparent;
  color: inherit;
  flex: 1;
  border: none;
  padding-top: 0;
  padding-bottom: 0;
  padding-left: 0;
  padding-right: 0;
  margin-top: 0;
  margin-bottom: 0;
  margin-left: 0;
  margin-right: 0;
  width: inherit;
  &::placeholder {
    font-family: var(--je-font-family, inherit);
    font-size: var(--je-font-size, 1rem);
  }
  &:focus {
    outline: 0;
  }
}

small.helper {
  display: block;
  margin-top: var(--je-gap-sm, 8px);
  padding-left: var(--je-padding-sm, 10px);
  color: var(--je-medium-600);
}

input[type="password"]::-ms-reveal,
input[type="password"]::-ms-clear {
  display: none !important;
}

je-popover::part(content) {
  width: var(--je-content-width, auto);
  box-sizing: border-box;
  padding: 0px;
}
