@use '../../styles/styles' as *;

je-nav[mode=top] {
  display: contents;

  nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    box-sizing: border-box;
    width: 100%;

    .__start,
    .__end {
      display: flex;
      align-items: center;
      gap: spacing-get(sm);
    }

    .__start {
      justify-content: flex-start;
    }

    .__end {
      justify-content: flex-end;
    }

    &>je-link,
    &>*>je-link {
      --color: light-dark(#{secondary(50)}, #{secondary(100)});

      &:hover,
      &.active {
        --color: light-dark(#{secondary(350)}, #{primary(200)});
      }

      &::part(anchor) {
        padding-inline: spacing-get(3xs);
        font-weight: font-weight(semi-bold);
        text-decoration: none;
        transition: color transition-get(fast) ease-in-out;
      }
    }

    &>je-button,
    &>*>je-button {
      &::part(inner-button) {
        --padding-inline: #{spacing-get(3xs)};
        --color: light-dark(#{secondary(50)}, #{secondary(100)});
        --hover-color: none;
        --active-color: light-dark(#{secondary(100)}, #{secondary(50)});
        --background: transparent;
        --hover-background: light-dark(#{primary(800)}, #{secondary(800)});
        --active-background: light-dark(#{primary(850)}, #{secondary(750)});
        --border-color: transparent;
      }
    }
  }
}

je-nav[mode=side] {
  display: contents;

  nav {
    display: flex;
    flex-direction: column;
    box-sizing: border-box;
    width: 100%;
    gap: spacing-get(2xs);

    &>je-details {
      display: block;
      --content-open-padding: 0;

      &::part(content) {
        display: flex;
        flex-direction: column;
        box-sizing: border-box;
        width: 100%;
        gap: spacing-get(2xs);
      }

      &::part(toggle) {
        border-radius: radius-get(md);
        display: flex;
        padding-inline: spacing-get(sm);
        font-weight: font-weight(semi-bold);
        transition: all transition-get(x-fast) ease-in-out;
        &:hover {
          background-color: light-dark(primary(50), secondary(850));
        }
      }

      &>je-link::part(anchor) {
        padding-left: spacing-get(xl);
      }
    }

    &>je-link,
    &>*>je-link {
      --color: inherit;
      --background: inherit;

      &.active {
        --color: light-dark(#{primary(500)}, #{secondary(500)});
      }

      &::part(anchor) {
        box-sizing: border-box;
        border-radius: radius-get(md);
        display: flex;
        width: 100%;
        padding-inline: spacing-get(sm);
        font-weight: font-weight(semi-bold);
        text-decoration: none;
        transition: all transition-get(x-fast) ease-in-out;
        color: var(--color);
        background-color: var(--background);
        &:hover {
          --background: light-dark(#{primary(50)}, #{secondary(850)});
        }
      }
    }
  }
}
