je-nav[mode=top] {
  display: contents;

  nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    box-sizing: border-box;
    width: 100%;

    .__start,
    .__end {
      display: flex;
      align-items: center;
      gap: var(--je-spacing-sm);
    }

    .__start {
      justify-content: flex-start;
    }

    .__end {
      justify-content: flex-end;
    }

    &>je-link,
    &>*>je-link {
      --color: light-dark(var(--je-neutral-50), var(--je-neutral-100));

      &:hover,
      &.active {
        --color: light-dark(var(--je-neutral-300), var(--je-primary-200));
      }

      &::part(anchor) {
        padding-inline: var(--je-spacing-3xs);
        font-weight: var(--je-font-semi-bold);
        text-decoration: none;
        transition: color var(--je-transition-fast) ease-in-out;
      }
    }

    &>je-button,
    &>*>je-button {
      &::part(inner-button) {
        --padding-inline: var(--je-spacing-3xs);
        --color: light-dark(var(--je-neutral-50), var(--je-neutral-100));
        --hover-color: none;
        --active-color: light-dark(var(--je-neutral-100), var(--je-neutral-50));
        --background: transparent;
        --hover-background: light-dark(var(--je-primary-800), var(--je-neutral-800));
        --active-background: light-dark(var(--je-primary-800), var(--je-neutral-700));
        --border-color: transparent;
      }
    }
  }
}
