@use '../../styles/styles' as *;

:is(je-page:not(:has(> .je-page-container)), je-page > .je-page-container) {
  display: grid;
  height: 100%;
  width: 100%;
  overflow-x: hidden;
  overflow-y: auto;
  box-sizing: border-box;
  --border-color: light-dark(#{secondary(400)}, #{secondary(800)});

  >header:first-of-type {
    flex-shrink: 0;
    grid-area: head;
    position: sticky;
    z-index: 1;
    top: 0;
    box-sizing: border-box;
    padding: spacing-get(xs) spacing-get(sm);
    background-color: light-dark(primary(750), secondary(850));
    color: light-dark(secondary(50), secondary(100));
  }

  >header:nth-of-type(2) {
    flex-shrink: 0;
    grid-area: sub;
    position: sticky;
    z-index: 1;
    top: var(--head-height);
    padding: spacing-get(xs) spacing-get(sm);
    box-sizing: border-box;
    background-color: light-dark(secondary(50), secondary(850));
    color: light-dark(secondary(900), secondary(100));
  }

  >header:last-of-type {
    border-bottom: solid 1px var(--border-color);
  }

  >main {
    grid-area: body;
    box-sizing: border-box;
    padding: spacing-get(xs) spacing-get(sm);
    color: light-dark(secondary(900), secondary(50));
    background-color: light-dark(secondary(50), secondary(900));
  }

  >footer {
    position: sticky;
    bottom: 0;
    grid-area: foot;
    flex-shrink: 0;
    box-sizing: border-box;
    background-color: light-dark(secondary(900), secondary(850));
    color: light-dark(secondary(50), secondary(100));
    border-top: solid 1px var(--border-color);
    padding: spacing-get(xs) spacing-get(sm);
  }

  >aside {
    position: sticky;
    top: calc(var(--head-height, 0px) + var(--sub-height, 0px));
    bottom: var(--foot-height, 0px);
    max-height: calc(100vh - var(--head-height, 0px) - var(--sub-height, 0px) - var(--foot-height, 0px));
    color: light-dark(secondary(900), secondary(50));
    background-color: light-dark(secondary(50), secondary(900));
    overflow-y: auto;
    overflow-x: hidden;
    box-sizing: border-box;
  }

  >aside:not(main+aside) {
    grid-area: left;
    border-right: solid 1px var(--border-color);
  }

  >main+aside {
    grid-area: right;
    border-left: solid 1px var(--border-color);
  }
}
