je-page {
  display: grid;
  height: 100%;
  width: 100%;
  overflow-x: hidden;
  overflow-y: auto;
  box-sizing: border-box;
  color: light-dark(var(--je-neutral-900), var(--je-neutral-50));
  background-color: light-dark(var(--je-neutral-50), var(--je-neutral-900));
  grid-template:
    "head head head"
    "left body right"
    "foot foot foot" / auto 1fr auto;
  --border-color: light-dark(var(--je-neutral-400), var(--je-neutral-800));

  &:has(>header) {
    --head-height: 64px;
  }

  &:has(>footer) {
    --foot-height: 48px;
  }

  >header {
    background-color: inherit;
    flex-shrink: 0;
    height: var(--head-height);
    grid-area: head;
    position: sticky;
    z-index: 10;
    top: 0;
    box-sizing: border-box;
    padding: var(--je-spacing-xs) var(--je-spacing-sm);
    border-bottom: solid 1px var(--border-color);
  }

  >main {
    grid-area: body;
    box-sizing: border-box;
    padding: var(--je-spacing-xs) var(--je-spacing-sm);
  }

  >footer {
    background-color: inherit;
    position: sticky;
    bottom: 0;
    grid-area: foot;
    flex-shrink: 0;
    z-index: 10;
    height: var(--foot-height);
    box-sizing: border-box;
    border-top: solid 1px var(--border-color);
    padding: var(--je-spacing-xs) var(--je-spacing-sm);
  }

  >aside {
    position: sticky;
    top: var(--head-height);
    height: calc(100vh - var(--head-height) - var(--foot-height));
    overflow-y: auto;
    overflow-x: hidden;
    box-sizing: border-box;
    scrollbar-width: thin;
  }

  >aside:not(main+aside) {
    grid-area: left;
    border-right: solid 1px var(--border-color);
  }

  >main+aside {
    grid-area: right;
    border-left: solid 1px var(--border-color);
  }
}
