@use 'styles/colors' as colors;

:host {
  display: block;
  height: 100%;
  overflow: hidden;
  font-size: var(--font-size);
  font-family: var(--font-family);
  color: var(--color);
  background-color: var(--background-color);
  color-scheme: light;

  --font-size: 13px;
  --font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  --font-light: 400;
  --font-regular: 500;
  --font-semi-bold: 600;
  --font-bold: 700;
  --color: canvastext;
  --background-color: canvas;
  --gap: 16px;
  --gap-sm: 8px;
  --gap-lg: 32px;
  --padding: 20px;
  --padding-sm: 10px;
  --padding-lg: 40px;
  --margin: 12px;
  --margin-sm: 6px;
  --margin-lg: 24px;

  @include colors.generate-color-variables;

  --input-background: var(--je-medium-200);
  --input-color: var(--je-medium-850);

  --backdrop-color: rgba(0, 0, 0, 0.5);

  --grid-columns: 12;

  --left-sidepanel-open-width: 500px;
  --left-sidepanel-minimized-width: 100px;
  --left-sidepanel-border: solid 1px canvastext;
  --right-sidepanel-open-width: 500px;
  --right-sidepanel-minimized-width: 100px;
  --right-sidepanel-border: solid 1px canvastext;
}

:host([theme='dark']) {
  color-scheme: dark;

  --input-background: var(--je-medium-800);
  --input-color: var(--je-medium-100);
}

:host([theme='auto']) {
  color-scheme: light dark;

  @media (prefers-color-scheme: dark) {
    --input-background: var(--je-medium-800);
    --input-color: var(--je-medium-100);
  }
}

[part='page-container'] {
  display: flex;
  flex-direction: column;
  height: 100%;
  box-sizing: border-box;
  overflow: hidden;
}

[part='body-container'] {
  display: flex;
  flex: 1;
  overflow: hidden;
}

::slotted([slot='body']) {
  flex: 1;
  box-sizing: border-box;
  overflow-y: auto;
  overflow-x: hidden;
}

::slotted([slot='header']) {
  box-sizing: border-box;
  z-index: 10;
  box-shadow: 0 2px 4px -1px rgba(0, 0, 0, 0.2), 0 4px 5px 0 rgba(0, 0, 0, 0.14), 0 1px 10px 0 rgba(0, 0, 0, 0.12);
}

::slotted([slot='footer']) {
  box-sizing: border-box;
  box-shadow: #00000069 0px -5px 20px -10px;
  //border-top: solid 1px lightgray;
  z-index: 10;
}

@supports (-webkit-touch-callout: none) {
  ::slotted([slot='header']) {
    padding-top: env(safe-area-inset-top);
    padding-left: env(safe-area-inset-left);
    padding-right: env(safe-area-inset-right);
  }

  ::slotted([slot='footer']) {
    padding-bottom: env(safe-area-inset-bottom);
    padding-left: env(safe-area-inset-left);
    padding-right: env(safe-area-inset-right);
  }

  .body-container {
    padding-top: env(safe-area-inset-top);
    padding-bottom: env(safe-area-inset-bottom);
    margin-left: env(safe-area-inset-left);
    margin-right: env(safe-area-inset-right);
  }
}

:host([left-panel='open']) {
  ::slotted([slot='left-panel']) {
    width: var(--left-sidepanel-open-width);
    border-right: var(--left-sidepanel-border);
  }
}

:host([left-panel='minimized']) {
  ::slotted([slot='left-panel']) {
    width: var(--left-sidepanel-minimized-width);
    border-right: var(--left-sidepanel-border);
  }
}

:host([right-panel='open']) {
  ::slotted([slot='right-panel']) {
    width: var(--right-sidepanel-open-width);
    border-left: var(--right-sidepanel-border);
  }
}

:host([right-panel='minimized']) {
  ::slotted([slot='right-panel']) {
    width: var(--right-sidepanel-minimized-width);
    border-left: var(--right-sidepanel-border);
  }
}

:host([left-panel='closed']) {
  ::slotted([slot='left-panel']) {
    padding: 0 !important;
  }
}

:host([right-panel='closed']) {
  ::slotted([slot='right-panel']) {
    padding: 0 !important;
  }
}

::slotted([slot='left-panel']),
::slotted([slot='right-panel']) {
  display: block;
  box-sizing: border-box;
  overflow-y: auto;
  overflow-x: hidden;
  width: 0px;
  border-right: none;
  border-left: none;
  transition: all 250ms ease-in-out;
  margin: 0 !important;
}
