@use '../../styles/styles' as *;

je-page {
  height: 100%;
  width: 100%;
  box-sizing: border-box;
  font-family: inherit;
  color: light-dark(medium(900), medium(50));
  background-color: light-dark(medium(50), medium(900));

  --panel-open-width: 500px;
  --panel-minimized-width: 100px;
  --panel-border: solid 1px light-dark(#{medium(400)}, #{medium(800)});

  .__slot {
    display: contents;
  }

  .__body_container {
    display: flex;
    box-sizing: border-box;
    width: 100%;
    overflow: hidden;
  }

  header {
    box-sizing: border-box;
    padding-inline: spacing-get(lg);
  }

  header:first-of-type {
    background-color: light-dark(primary(750), medium(850));
    color: light-dark(medium(50), medium(100));
  }

  header:nth-of-type(2) {
    background-color: light-dark(white, medium(850));
    color: light-dark(medium(900), medium(100));
  }

  header:last-of-type {
    border-bottom: solid 1px light-dark(primary(150), medium(800));
  }

  main {
    flex: 1;
    box-sizing: border-box;
    padding: spacing-get(lg);
  }

  footer {
    box-sizing: border-box;
    background-color: light-dark(medium(900), medium(850));
    color: light-dark(medium(50), medium(100));
    border-top: solid 1px light-dark(medium(400), medium(800));
    padding: spacing-get(xs) spacing-get(lg);
  }

  aside {
    display: block;
    box-sizing: border-box;
    overflow-y: auto;
    overflow-x: hidden;
    transition: all 250ms ease-in-out;
    margin: 0;
    padding: spacing-get(lg);
    scrollbar-width: thin;

    &:not([right]) {
      &[open] {
        width: var(--panel-open-width);
        border-right: var(--panel-border);
      }
      &[minimized] {
        width: var(--panel-minimized-width);
        border-right: var(--panel-border);
      }
    }

    &[right] {
      &[open] {
        width: var(--panel-open-width);
        border-left: var(--panel-border);
      }
      &[minimized] {
        width: var(--panel-minimized-width);
        border-left: var(--panel-border);
      }
    }

    &:not([open]):not([minimized]) {
      padding: 0;
      width: 0;
      border: none;
    }
  }

  @supports (-webkit-touch-callout: none) {
    header {
      padding-top: env(safe-area-inset-top);
      padding-left: env(safe-area-inset-left);
      padding-right: env(safe-area-inset-right);
    }

    footer {
      padding-bottom: env(safe-area-inset-bottom);
      padding-left: env(safe-area-inset-left);
      padding-right: env(safe-area-inset-right);
    }
  }
}

je-page[layout=flex] {
  display: flex;
  flex-direction: column;
  overflow: hidden;

  main {
    overflow-y: auto;
    overflow-x: hidden;
  }

  .__body_container {
    flex: 1;
  }
}

je-page[layout=sticky] {
  display: block;
  overflow-y: auto;
  overflow-x: hidden;

  header {
    position: sticky;
    top: 0;
    z-index: 1;
  }

  header:nth-of-type(2) {
    top: var(--sub-top);
  }

  main {
    position: sticky;
    top: var(--header-height);
    min-height: calc(100vh - var(--header-height));
  }

  aside {
    position: sticky;
    top: var(--header-height);
    max-height: calc(100vh - var(--header-height));
  }

  .__body_container {
    overflow: visible;
  }
}
