:host {
  display: block;
  box-sizing: border-box;
  background-color: light-dark(white, var(--je-neutral-900));
  --border-right: initial;
}

:host(:not(:last-child)) {
  border-right: var(--border-right, 0);
}

je-button {
  opacity: 0;
  transition: opacity var(--je-transition-fast) ease-in-out;
  &.hover {
    opacity: 1;
  }
}

je-icon.success {
  color: light-dark(var(--je-success-700), var(--je-success-500));
}

:host([sticky]) {
  position: sticky;
  left: 0;
  z-index: 1;
}
