:host {
  display: contents;
}

je-modal {
  --width: 35%;
  --height: fit-content;
}

@media (width < 1200px) {
  je-modal {
    --width: 75%;
  }
}

.content-container {
  display: flex;
  flex-direction: column;
  padding: 24px;
}

.content-container .header {
  display: flex;
  width: 100%;
  align-items: center;
}

.content-container .header .close {
  margin-left: auto;
  --je-background: var(--je-medium-850);
}

.content-container .controls {
  margin-top: 16px;
}

.content-container .buttons {
  margin-top: 24px;
  display: flex;
  gap: var(--je-spacing);
  justify-content: flex-end;
}
