:host {
  display: flex;
  align-items: center;
  gap: var(--je-spacing-2xs, 8px);
  cursor: pointer;
  -webkit-user-select: none;
  user-select: none;
}

je-icon {
  cursor: pointer;
  color: var(--je-primary-500);
}
