$colors: (
  primary: (
    100: #e0f7ff,
    200: #b3e9ff,
    300: #80dbff,
    400: #4dcfff,
    500: #1ac3ff, // main color
    600: #00b0e6,
    700: #0095bf,
    800: #007a99
  ),
  secondary: (
    100: #ffe0f7,
    200: #ffb3e9,
    300: #ff80db,
    400: #ff4dce,
    500: #ff1ac0, // main color
    600: #e600a9,
    700: #bf0090,
    800: #990078
  ),
  tertiary: (
    100: #f0ffe0,
    200: #e0ffb3,
    300: #d0ff80,
    400: #c0ff4d,
    500: #b0ff1a, // main color
    600: #99e600,
    700: #80bf00,
    800: #669900
  ),
  success: (
    100: #e0ffe0,
    200: #b3ffb3,
    300: #80ff80,
    400: #4dff4d,
    500: #1aff1a, // main color
    600: #00e600,
    700: #00bf00,
    800: #009900
  ),
  error: (
    100: #ffe0e0,
    200: #ffb3b3,
    300: #ff8080,
    400: #ff4d4d,
    500: #ff1a1a, // main color
    600: #e60000,
    700: #bf0000,
    800: #990000
  ),
  warning: (
    100: #fff7e0,
    200: #ffeab3,
    300: #ffdd80,
    400: #ffd14d,
    500: #ffc61a, // main color
    600: #e6b200,
    700: #bf9300,
    800: #997500
  ),
  medium: (
    100: #f7f7f7,
    200: #e1e1e1,
    300: #cfcfcf,
    400: #b1b1b1,
    500: #9e9e9e, // main color
    600: #7e7e7e,
    700: #626262,
    800: #515151
  )
);

@mixin generate-color-variables {
  @each $group, $shades in $colors {
    @each $shade, $color in $shades {
      --je-#{$group}-#{$shade}: #{$color};
    }
  }
}
