/* global style sheet for index.html */

je-page {
  --je-font-family: 'Work Sans';
  --je-border-radius: 5px;

  .header {
    --je-background-color: var(--je-primary-800);
    --je-text-color: var(--je-primary-100);
    padding-inline: var(--je-spacing-lg);
  }

  [slot='left-panel'] {
    padding: var(--je-spacing-lg);
    display: flex;
    flex-direction: column;
    gap: var(--je-spacing-lg);
  }

  [slot='body'] {
    padding: var(--je-spacing-3xl);
  }

  [slot='right-panel'] {
    padding: var(--je-spacing-lg);
  }
}

je-form form {
  gap: var(--je-spacing-lg);
}

html,
body {
  height: 100vh;
  width: 100vw;
  overflow: hidden;
  margin: 0;
  padding: 0;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin-block-start: 0;
  margin-block-end: 0;
  margin-inline-start: 0;
  margin-inline-end: 0;
}

h1 {
  line-height: 2.5;
}

h2,
h3,
h4 {
  line-height: 2.25;
}

h5,
h6,
p {
  line-height: 2;
}
