:host {
  display: block;
  width: fit-content;
}

je-input::part(native-input) {
  cursor: pointer;
}

:host([expand]) {
  width: 100%;
}

je-icon {
  transition: transform 0.3s ease;
}

je-icon.open {
  transform: rotate(180deg);
}
