html {
  height: 100vh;
  width: 100vw;
  overflow: hidden;
  margin: 0;
  padding: 0;
  color-scheme: light dark;
  box-sizing: border-box;

  &.je-theme-light {
    color-scheme: light;
  }

  &.je-theme-dark {
    color-scheme: dark;
  }
}

body {
  display: grid;
  margin: 0;
  padding: 0;
  height: 100%;
  width: 100%;
  overflow-x: hidden;
  overflow-y: auto;
  box-sizing: border-box;
  transform: translateZ(0);
  color: light-dark(var(--je-neutral-925), var(--je-neutral-75));
  background-color: light-dark(var(--je-neutral-75), var(--je-neutral-925));
  grid-template:
    "head head head" auto
    "left body right" 1fr
    "foot foot foot" auto / auto 1fr auto;
  --border-color: light-dark(var(--je-neutral-400), var(--je-neutral-800));
  &:has(>header) {
    --head-height: 64px;
  }
  &:has(>footer) {
    --foot-height: 48px;
  }

  &>header {
    background-color: inherit;
    flex-shrink: 0;
    grid-area: head;
    position: sticky;
    z-index: 10;
    top: 0;
    box-sizing: border-box;
    padding-inline: var(--je-spacing-sm);
    border-bottom: solid 1px var(--border-color);
    height: var(--head-height);
  }

  &>main {
    grid-area: body;
    box-sizing: border-box;
    padding: var(--je-spacing-xs) var(--je-spacing-sm);
  }

  &>footer {
    background-color: inherit;
    position: sticky;
    bottom: 0;
    grid-area: foot;
    flex-shrink: 0;
    z-index: 10;
    box-sizing: border-box;
    border-top: solid 1px var(--border-color);
    padding-inline: var(--je-spacing-sm);
    height: var(--foot-height);
  }

  &>aside {
    position: sticky;
    top: var(--head-height, 0px);
    height: 100%;
    max-height: calc(100vh - var(--head-height, 0px) - var(--foot-height, 0px));
    overflow-y: auto;
    overflow-x: hidden;
    box-sizing: border-box;
    scrollbar-width: thin;
    padding: var(--je-spacing-xs);
  }

  &>aside:not(main+aside) {
    grid-area: left;
    border-right: solid 1px var(--border-color);
  }

  &>main+aside {
    grid-area: right;
    border-left: solid 1px var(--border-color);

    &:has(je-toc:only-child) {
      top: calc(var(--head-height, 0px) + 0.5rem);
      height: fit-content;
    }
  }

  &[condense]>main {
    max-width: 768px;
    margin: auto;
  }
}
