:host {
  display: block;

  --je-drawer-width: 500px;
  --je-drawer-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  --je-drawer-padding: var(--je-spacing-lg, 20px);
}

.backdrop {
  display: block;
  position: fixed;
  transition: opacity 250ms ease-in-out;
  opacity: 0;
  cursor: pointer;
  background: var(--je-backdrop-color);
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  z-index: -1;
  &.open {
    z-index: 899;
  }
}

div[part=container] {
  display: block;
  position: fixed;
  box-sizing: border-box;
  overflow-y: auto;
  overflow-x: hidden;
  background-color: canvas;
  color: canvastext;
  transition: margin 250ms ease-in-out;
  z-index: -1;
  padding: var(--je-drawer-padding);
  &.open {
    box-shadow: var(--je-drawer-shadow);
    z-index: 900;
  }
}

:host([side=left]) div[part=container] {
  height: 100%;
  width: var(--je-drawer-width);
  top: 0;
  left: 0;
  margin-left: calc(var(--je-drawer-width) * -1);
}

:host([side=right]) div[part=container] {
  height: 100%;
  width: var(--je-drawer-width);
  top: 0;
  right: 0;
  margin-right: calc(var(--je-drawer-width) * -1);
}

:host([side=bottom]) div[part=container] {
  width: 650px;
  height: 400px;
  overflow: hidden;
  left: 50%;
  bottom: 0;
  margin-inline: auto;
  transform: translateX(-50%);
  margin-bottom: -400px;
}
