@use '../../styles/styles' as *;

:host {
  display: contents;

  --width: 80%;
  --padding: #{spacing-get(lg)};
  --background: light-dark(rgb(233, 236, 236), rgb(41, 45, 46));
  --color: light-dark(#{medium(900)}, #{medium(50)});
}

@media (width > 1200px) {
  :host {
    --width: 40%;
  }
}

@media (992px < width < 1201px) {
  :host {
    --width: 50%;
  }
}

@media (768px < width < 993px) {
  :host {
    --width: 60%;
  }
}

[part=inner-container] {
  box-sizing: border-box;
  width: 100%;
  height: 100%;
}

:host([side=left]) dialog[open] {
  margin-left: 0;
}

:host([side=right]) dialog[open] {
  margin-right: 0;
}

:host([side=left]) dialog {
  left: 0;
  margin-left: calc(var(--width) * -1);
}

:host([side=right]) dialog {
  right: 0;
  margin-right: calc(var(--width) * -1);
}

dialog {
  top: 0;
  height: 100%;
  width: var(--width);
  max-width: 100vw;
  max-height: 100vh;
  background-color: var(--background);
  color: var(--color);
  box-sizing: border-box;
  border: 0;
  padding: var(--padding);
  margin-block: 0;
  transition: all 300ms ease-in-out allow-discrete;
  &:focus-visible {
    outline: 0;
  }
}

dialog::backdrop {
  opacity: 0;
  background-color: backdrop-color();
  transition: all 300ms ease-in-out allow-discrete;
  cursor: pointer;
}

dialog[open]::backdrop {
  opacity: 1;
}

@starting-style {
  dialog[open]::backdrop {
    opacity: 0;
  }

  :host([side=left]) dialog[open] {
    margin-left: calc(var(--width) * -1);
  }

  :host([side=right]) dialog[open] {
    margin-right: calc(var(--width) * -1);
  }
}
