@use '../../../styles/colors';

:host {
  display: flex;
  align-items: center;
  gap: var(--je-spacing-2xs);
  cursor: pointer;
  -webkit-user-select: none;
  user-select: none;
}

je-icon {
  cursor: pointer;
  color: colors.get(primary, 500);
}
