@use '../../../styles/colors';

:host {
  display: flex;
  align-items: center;
  gap: var(--je-spacing-2xs);
  cursor: pointer;
  -webkit-user-select: none;
  user-select: none;
}

je-icon {
  cursor: pointer;
  color: colors.get(primary, 500);
  &:focus {
    outline-color: var(--je-primary-300);
  }
}

:host([disabled]:not([disabled=false])) {
  cursor: not-allowed;
  opacity: 0.5;
  je-icon {
    cursor: not-allowed;
  }
}

:host([readonly]:not([readonly=false])) {
  cursor: default;
  je-icon {
    cursor: default;
    color: colors.get(primary, 800);
  }
}
