:host {
  position: relative;
  display: flex;
  align-items: baseline;
  gap: var(--je-spacing-2xs, 8px);
  background-color: var(--je-input-background, field);
  color: var(--je-input-color, fieldtext);
  padding: var(--je-spacing-xs, 10px);
  border-radius: var(--je-border-radius, 2px);
  border: solid 1px var(--je-border-color);
  transition: border 125ms ease-in-out;

  --je-height: 84px;
  --je-border-color: transparent;
  --je-input-background: var(--je-medium-100);
  --je-input-color: var(--je-medium-900);
}

:host([darkmode]) {
  --je-input-background: var(--je-medium-850);
  --je-input-color: var(--je-medium-50);
}

::slotted([slot=top-right]) {
  top: 0;
  right: 0;
  position: absolute;
  transform: translate(50%, -50%);
}

textarea {
  height: var(--je-height);
  font-family: var(--je-font-family, inherit);
  font-size: var(--je-font-size, 1rem);
  background: transparent;
  color: inherit;
  flex: 1;
  border: none;
  padding-top: 0;
  padding-bottom: 0;
  padding-left: 0;
  padding-right: 0;
  margin-top: 0;
  margin-bottom: 0;
  margin-left: 0;
  margin-right: 0;
  width: inherit;
  &::placeholder {
    font-family: var(--je-font-family, inherit);
    font-size: var(--je-font-size, 1rem);
    color: var(--je-medium-600);
  }
  &:focus {
    outline: 0;
  }
}

label {
  font-weight: var(--je-font-semi-bold);
}
