:host {
  display: block;
  border: solid 1px var(--card-border-color);
  border-radius: 12px;
  overflow: hidden;
  box-sizing: border-box;
  position: relative;
  color: var(--card-color);
  background-color: var(--card-background);

  --card-color: inherit;
  --card-background: inherit;
  --card-hover-background: #9f9e9e0e;
  --card-active-background: #9f9e9e19;
  --card-border-color: var(--je-medium-300);
}

:host([button]) {
  cursor: pointer;
  transition: all 125ms ease-in-out;
}

:host([button]:hover) {
  background-color: var(--card-hover-background);
}

:host([button]:active) {
  background-color: var(--card-active-background);
}

:host([color=error]) {
  --card-color: var(--je-error-100);
  --card-background: var(--je-error-500);
  --card-hover-background: var(--je-error-600);
  --card-active-background: var(--je-error-700);
  --card-border-color: var(--je-error-300);
}

:host([color=secondary]) {
  --card-color: var(--je-secondary-100);
  --card-background: var(--je-secondary-500);
  --card-hover-background: var(--je-secondary-600);
  --card-active-background: var(--je-secondary-700);
  --card-border-color: var(--je-secondary-300);
}

:host([color=tertiary]) {
  --card-color: var(--je-tertiary-100);
  --card-background: var(--je-tertiary-500);
  --card-hover-background: var(--je-tertiary-600);
  --card-active-background: var(--je-tertiary-700);
  --card-border-color: var(--je-tertiary-300);
}

:host([color=warning]) {
  --card-color: var(--je-warning-100);
  --card-background: var(--je-warning-500);
  --card-hover-background: var(--je-warning-600);
  --card-active-background: var(--je-warning-700);
  --card-border-color: var(--je-warning-300);
}

:host([color=success]) {
  --card-color: var(--je-success-100);
  --card-background: var(--je-success-500);
  --card-hover-background: var(--je-success-600);
  --card-active-background: var(--je-success-700);
  --card-border-color: var(--je-success-300);
}

:host([color=medium]) {
  --card-color: var(--je-medium-100);
  --card-background: var(--je-medium-500);
  --card-hover-background: var(--je-medium-600);
  --card-active-background: var(--je-medium-650);
}

:host([color=light]) {
  --card-color: var(--je-medium-850);
  --card-background: var(--je-medium-200);
  --card-hover-background: var(--je-medium-400);
  --card-active-background: var(--je-medium-500);
}

:host([color=dark]) {
  --card-color: var(--je-medium-100);
  --card-background: var(--je-medium-800);
  --card-hover-background: var(--je-medium-800);
  --card-active-background: var(--je-medium-850);
}

::slotted([slot="media"]) {
  width: 100%;
}

::slotted([slot="header"]) {
  box-sizing: border-box;
  padding-inline: var(--padding-sm, 10px);
  border-bottom: solid 1px var(--card-border-color);
}

::slotted([slot="footer"]) {
  display: flex;
  padding-block: var(--padding-sm, 10px);
  gap: var(--gap-sm, 8px);
}

.container {
  box-sizing: border-box;
  padding: var(--padding-sm, 10px);
}
