@use '../../styles/styles' as *;

:host {
  display: contents;
}

button {
  display: flex;
  cursor: pointer;
  align-items: center;
  justify-content: center;
  height: 2.5rem;
  flex-shrink: 0;
  padding-block: 0;
  padding-inline: spacing-get(sm);
  margin: 0;
  border: none;
  outline-color: primary(200);
  outline-offset: 2px;
  background-color: inherit;
  color: inherit;
  box-sizing: border-box;
  transition: all 75ms ease-in-out;

  &.selected {
    background-color: light-dark(primary(500), primary(200));
    color: light-dark(primary(100), primary(900));
  }
}

:host(:not(:last-of-type)) button {
  border-right: solid 1px light-dark(secondary(300), secondary(700));
}
