@use '../../styles/styles' as *;

:host {
  display: flex;
  cursor: pointer;
  align-items: center;
  justify-content: center;
  height: 2.5rem;
  flex-shrink: 0;
  padding-block: 0;
  padding-inline: spacing-get(sm);
  margin: 0;
  border: none;
  outline-color: primary(200);
  outline-offset: 2px;
  background-color: inherit;
  color: inherit;
  box-sizing: border-box;
  transition: all 75ms ease-in-out;
  user-select: none;
  -webkit-user-select: none;
}

:host(:not(:first-of-type)) {
  border: solid 1px light-dark(secondary(300), secondary(700));
  border-left: 0;
}

:host(:first-of-type) {
  border: solid 1px light-dark(secondary(300), secondary(700));
}

:host([aria-checked=true]) {
  background-color: light-dark(primary(500), primary(200));
  color: light-dark(secondary(50), secondary(900));
  border-color: light-dark(primary(500), primary(200));
}

:host(:first-of-type) {
  border-top-left-radius: radius-get(md);
  border-bottom-left-radius: radius-get(md);
}

:host(:last-of-type) {
  border-top-right-radius: radius-get(md);
  border-bottom-right-radius: radius-get(md);
}
