:host {
  display: block;
  padding: var(--je-spacing-xs);
  box-sizing: border-box;
}

je-button.day {
  --je-button-min-width: 20px;
  --je-button-height: 20px;
  --je-button-inline-padding: 0px;
  &::part(inner-button) {
    font-weight: 400;
  }
}

.header {
  display: flex;
  align-items: center;
  margin-bottom: 10px;
  je-popover {
    flex: 1;
  }
  div[slot=trigger] {
    user-select: none;
    display: flex;
    cursor: pointer;
    align-items: center;
  }
}

.weekdays-grid {
  display: grid;
  grid-template-columns: repeat(7, 1fr);
  gap: 5px;
  margin-bottom: 8px;
  div {
    height: 20px;
    font-size: 1em;
    font-weight: 400;
    color: var(--je-medium-600);
    text-align: center;
    align-content: center;
  }
}

.days-grid {
  display: grid;
  grid-template-columns: repeat(7, 1fr);
  gap: 5px;
}

je-icon {
  transition: transform 250ms ease;
}

je-icon.open {
  transform: rotate(180deg);
}
