:host {
  display: contents;
}

button {
  background-color: blue;
  color: white;
  border-radius: 4px;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 0;
  outline: 0;
  user-select: none;
  -webkit-user-select: none;
  height: 30px;
  min-width: 40px;
  width: fit-content;
  margin: 0;
  padding: 0 4px;

  &:hover {
    opacity: 0.8;
  }

  &:active {
    opacity: 0.6;
  }
}
