:host {
  --thickness: 1px;
  --color: var(--je-medium-500);
  --spacing: var(--je-spacing-sm);

  background-color: var(--color);
}

:host([spacing=sm]) {
  --spacing: var(--je-spacing-2xs);
}

:host([spacing=lg]) {
  --spacing: var(--je-spacing-lg);
}

:host([spacing=none]) {
  --spacing: 0;
}

:host([type=horizontal]) {
  display: block;
  width: 100%;
  height: var(--thickness);
  margin-block: var(--spacing);
}

:host([type=vertical]) {
  display: inline-block;
  align-self: normal;
  width: var(--thickness);
  margin-inline: var(--spacing);
}
