@use '../../styles/colors';
@use '../../styles/spacing';

:host {
  display: flex;
  align-items: center;
  gap: spacing.get(2xs);
  width: fit-content;
  cursor: pointer;
  -webkit-user-select: none;
  user-select: none;
}

je-icon {
  cursor: pointer;
  color: colors.primary();
}

:host(.readonly) {
  cursor: default;
}

:host(.disabled) {
  opacity: 0.6;
  cursor: not-allowed;
}
