@use '../../styles/styles' as *;

:host {
  display: inline-flex;
  align-items: center;
  gap: spacing-get(2xs);
  width: fit-content;
  cursor: pointer;
  -webkit-user-select: none;
  user-select: none;
  outline-color: primary(200);
  outline-offset: 2px;
  box-sizing: border-box;
}

je-icon {
  color: light-dark(primary(), primary(200));
}

:host([disabled]) {
  opacity: 0.6;
  cursor: not-allowed;
}
