@use '../../styles/styles' as *;

:host {
  display: flex;
  align-items: center;
  gap: spacing-get(2xs);
  width: fit-content;
  cursor: pointer;
  -webkit-user-select: none;
  user-select: none;
}

je-icon {
  cursor: pointer;
  color: light-dark(primary(), primary(200));
}

:host(.readonly) {
  cursor: default;
}

:host(.disabled) {
  opacity: 0.6;
  cursor: not-allowed;
}
