:host {
  position: fixed;
  display: none;
  overflow: auto;
  flex-direction: column;
  gap: var(--je-spacing-lg);
  width: 100%;
  max-width: 500px;
  margin: 0;
  border: 0;
  inset: unset;
  padding: 0;
  background-color: transparent;
}

:host(:popover-open) {
  display: flex;
}

:host([position=top-end]) {
  right: var(--je-spacing-lg);
  top: var(--je-spacing-lg);
}

:host([position=top-start]) {
  left: var(--je-spacing-lg);
  top: var(--je-spacing-lg);
}

:host([position=bottom-end]) {
  right: var(--je-spacing-lg);
  bottom: var(--je-spacing-lg);
}

:host([position=bottom-start]) {
  left: var(--je-spacing-lg);
  bottom: var(--je-spacing-lg);
}

:host([position=top]) {
  left: var(--je-spacing-lg);
  top: var(--je-spacing-lg);
  max-width: calc(100% - calc(var(--je-spacing-lg) * 2));
}

:host([position=bottom]) {
  left: var(--je-spacing-lg);
  bottom: var(--je-spacing-lg);
  max-width: calc(100% - calc(var(--je-spacing-lg) * 2));
}
