:host {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 200px;
  width: 300px;
  border: 1px dashed var(--je-text-color);
  border-radius: var(--je-border-radius);
  color: var(--je-text-color);
  background-color: var(--je-background-color);
  transition: border-color 250ms, background-color 250ms;
}

:host(.hover) {
  border-color: var(--je-primary-500);
  background-color: var(--je-medium-100);
}

:host([darkmode].hover) {
  background-color: var(--je-medium-850);
}
