@import url("https://fonts.googleapis.com/css2?family=Material+Symbols+Rounded:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200");
@import url("https://fonts.googleapis.com/css2?family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap");

:root {
  font-family: "Work Sans";
  font-size: 16px;
  line-height: 1.75;
  font-weight: var(--je-font-regular);
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin-block-start: 0;
  margin-block-end: 0;
  margin-inline-start: 0;
  margin-inline-end: 0;
}

h1 {
  font-size: 2.5rem;
  font-weight: var(--je-font-bold);
}

h2 {
  font-size: 2rem;
  font-weight: var(--je-font-bold);
}

h3 {
  font-size: 1.5rem;
  font-weight: var(--je-font-bold);
}

h4 {
  font-size: 1.25rem;
  font-weight: var(--je-font-bold);
}

h5 {
  font-size: 1rem;
  font-weight: var(--je-font-bold);
}

h6 {
  font-size: 0.875rem;
  font-weight: var(--je-font-bold);
}

p {
  font-size: 1rem;
  font-weight: var(--je-font-regular);
}

small {
  font-size: 0.875rem;
  font-weight: var(--je-font-light);
}

a.header-anchor {
  color: inherit;
  font-size: inherit;
  font-weight: inherit;
  line-height: inherit;
  text-decoration: none;

  &:hover::after {
    padding-left: 0.5rem;
    display: inline;
    content: "#";
  }
}

code {
  padding: 0.15rem 0.3rem;
  background-color: light-dark(var(--je-neutral-200), var(--je-neutral-950));
  border-radius: var(--je-radius-md);
  line-height: 2.5rem;
  color: light-dark(var(--je-neutral-950), var(--je-neutral-200));
  font-family: inherit;
}