@use 'colors';
@use 'elevation';
@use 'font';
@use 'radius';
@use 'spacing';
@use 'transition';

:root {
  //colors
  --je-primary: #{colors.$primary};
  --je-neutral: #{colors.$neutral};
  --je-success: #{colors.$success};
  --je-warning: #{colors.$warning};
  --je-danger: #{colors.$danger};

  @include colors.variables(primary);
  @include colors.variables(neutral);
  @include colors.variables(success);
  @include colors.variables(warning);
  @include colors.variables(danger);

  //font
  @each $name, $value in font.$weight {
    --je-font-#{$name}: #{$value};
  }
  @each $name, $value in font.$size {
    --je-font-#{$name}: #{$value};
  }

  //elevation
  @each $name, $value in elevation.$elevation {
    --je-shadow-#{$name}: #{$value};
  }

  //radius
  @each $name, $value in radius.$radius {
    --je-radius-#{$name}: #{$value};
  }

  //spacing
  @each $name, $value in spacing.$spacing {
    --je-spacing-#{$name}: #{$value};
  }

  //transition
  @each $name, $value in transition.$transition {
    --je-transition-#{$name}: #{$value};
  }
}
