@use '../../styles/styles' as *;

:host {
  display: contents;
}

label {
  display: inline-flex;
  font-weight: font-weight(semi-bold);
  color: light-dark(medium(800), medium(200));
  font-size: font-size(sm);
  gap: spacing-get(2xs);
  cursor: inherit;

  &.required::after {
    content: "*";
    color: light-dark(danger(400), danger(300));
    font-weight: font-weight(semi-bold);
    font-size: font-size(sm);
  }
}
