@use '../../styles/styles' as *;

:host {
  display: inline-flex;
  font-weight: font-weight(semi-bold);
  color: light-dark(secondary(800), secondary(200));
  font-size: font-size(md);
  gap: spacing-get(2xs);
  cursor: inherit;
}

:host([required])::after {
  content: "*";
  color: light-dark(danger(400), danger(300));
  font-weight: font-weight(semi-bold);
  font-size: font-size(md);
}
