:host {
  /**
   * @prop --je-fill: 1 or 0, true or false
   * @prop --je-weight: icon weight
   * @prop --je-grade: Emphasis?
   * @prop --je-optical: Stroke weight
   */
  --je-fill: 0;
  --je-weight: 400;
  --je-grade: 0;
  --je-optical: 24;

  display: block;
  cursor: default;
  font-family: 'Material Symbols Rounded';
  font-weight: normal;
  font-style: normal;
  font-size: 24px;
  line-height: unset;
  letter-spacing: normal;
  text-transform: none;
  user-select: none;
  -webkit-user-select: none;
  white-space: nowrap;
  word-wrap: normal;
  direction: ltr;
  -webkit-font-smoothing: antialiased;
  font-variation-settings: 'FILL' var(--je-fill), 'wght' var(--je-weight), 'GRAD' var(--je-grade), 'opsz' var(--je-optical);
}

:host([fill]) {
  --je-fill: 1;
}

:host([size=sm]) {
  --je-optical: 20;
  font-size: 20px;
}

:host([size=md]) {
  --je-optical: 24;
  font-size: 24px;
}

:host([size=lg]) {
  --je-optical: 40;
  font-size: 40px;
}

:host([size=xl]) {
  --je-optical: 48;
  font-size: 48px;
}

:host([grade=low]) {
  --je-grade: -25;
}

:host([grade=high]) {
  --je-grade: 200;
}
