@use '../../styles/styles' as *;

/**
 * @prop --fill: 1 or 0, true or false
 * @prop --weight: icon weight
 * @prop --grade: Emphasis?
 * @prop --optical: Stroke weight
 */

:host {
  display: inline;
  cursor: inherit;
  font-family: 'Material Symbols Rounded';
  font-weight: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
  text-transform: none;
  user-select: none;
  -webkit-user-select: none;
  white-space: nowrap;
  word-wrap: normal;
  direction: ltr;
  -webkit-font-smoothing: antialiased;
  font-variation-settings: 'FILL' var(--fill), 'wght' var(--weight), 'GRAD' var(--grade), 'opsz' var(--optical);
}

:host(.__button) {
  display: contents;
}

button {
  margin: 0;
  padding: spacing-get(3xs);
  display: inline-flex;
  align-items: center;
  justify-content: center;
  border: none;
  cursor: pointer;
  flex-shrink: 0;
  font-family: 'Material Symbols Rounded';
  font-weight: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
  width: fit-content;
  height: fit-content;
  text-transform: none;
  font-size: inherit;
  background-color: transparent;
  color: inherit;
  user-select: none;
  -webkit-user-select: none;
  white-space: nowrap;
  word-wrap: normal;
  direction: ltr;
  -webkit-font-smoothing: antialiased;
  font-variation-settings: 'FILL' var(--fill), 'wght' var(--weight), 'GRAD' var(--grade), 'opsz' var(--optical);
  transition: opacity 75ms ease-in-out;

  &:disabled {
    opacity: 0.4;
    cursor: not-allowed;
  }

  &:hover {
    opacity: 0.8;
  }

  &:active {
    opacity: 0.6;
  }
}
