:host {
  display: block;
  user-select: none;
  -webkit-user-select: none;
}

[part=container] {
  display: flex;
  align-items: center;
  gap: var(--je-spacing-3xs);
}

::slotted(je-branch) {
  margin-left: var(--je-spacing-3xl);
}
