@use '../../styles/styles' as *;

:host {
  display: none;
  overflow: hidden;
  position: relative;
  box-shadow: var(--box-shadow);
  border: var(--border);
  border-radius: radius-get(md);
  box-sizing: border-box;
  background-color: var(--background);
  color: var(--color);
  padding: spacing-get(md);
  grid-template-columns: auto 1fr auto;
  grid-auto-rows: auto;
  align-items: center;
  column-gap: spacing-get(sm);
  row-gap: spacing-get(2xs);

  --background: light-dark(rgb(233, 236, 236), rgb(41, 45, 46));
  --color: light-dark(#{secondary(800)}, #{secondary(300)});
  --box-shadow: 0px 4px 16px 0px light-dark(rgba(0, 0, 0, 0.12), rgba(68, 68, 68, 0.12));
  --border: solid 1px light-dark(rgb(197, 200, 204), rgb(86, 87, 90));
}

:host([color=primary]) {
  --accent: light-dark(#{primary()}, #{primary(200)});
}

:host([color=secondary]) {
  --accent: light-dark(#{secondary(600)}, #{secondary()});
}

:host([color=warning]) {
  --accent: #{warning()};
}

:host([color=danger]) {
  --accent: light-dark(#{danger(400)}, #{danger(300)});
}

:host([color=success]) {
  --accent: #{success(600)};
}

:host(.visible) {
  display: grid;
}

:host(.open) {
  animation: fadeIn 600ms forwards;
}

:host(:not(.open)) {
  animation: fadeOut 600ms forwards;
}

@keyframes fadeIn {
  from {
    opacity: 0;
    transform: scale(0%);
  }
  to {
    opacity: 1;
    transform: scale(100%);
  }
}

@keyframes fadeOut {
  from {
    opacity: 1;
    transform: scale(100%);
  }
  to {
    opacity: 0;
    transform: scale(0%);
  }
}

[part=header] {
  font-weight: bold;
  display: block;
  box-sizing: border-box;
  font-size: font-size(lg);
  line-height: 1;
}

[part=message] {
  line-height: 1;
}

je-icon {
  display: block;
  color: var(--accent);
}

.border {
  position: absolute;
  top: 0;
  left: 0;
  background-color: var(--accent);
  width: 100%;
  height: spacing-get(xs);
}

.progress {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  background-color: var(--accent);
  height: spacing-get(2xs);
  animation: shorten linear forwards;
  animation-play-state: paused;
  &.running {
    animation-play-state: running;
  }
  &:not(.visible) {
    opacity: 0;
  }
}

@keyframes shorten {
  from {
    width: 100%;
  }
  to {
    width: 0;
  }
}

slot[name=buttons] {
  display: flex;
  align-items: center;
  gap: spacing-get(sm);
}
