:host {
  display: none;
  overflow: hidden;
  position: relative;
  box-shadow: var(--box-shadow);
  border: var(--border);
  border-radius: var(--je-radius-md);
  box-sizing: border-box;
  background-color: var(--background);
  color: var(--color);
  font-size: var(--je-font-sm);
  padding: var(--je-spacing-sm);

  --accent: light-dark(var(--je-neutral-600), var(--je-neutral-500));
  --background: light-dark(rgb(233, 236, 236), rgb(41, 45, 46));
  --color: light-dark(var(--je-neutral-800), var(--je-neutral-300));
  --box-shadow: 0px 4px 16px 0px light-dark(rgba(0, 0, 0, 0.12), rgba(68, 68, 68, 0.12));
  --border: solid 1px light-dark(rgb(197, 200, 204), rgb(86, 87, 90));
}

:host([open]:not([open=false])) {
  display: block;
}

:host([color=primary]) {
  --accent: light-dark(var(--je-primary-500), var(--je-primary-200));
}

:host([color=warning]) {
  --accent: var(--je-warning-400);
}

:host([color=danger]) {
  --accent: light-dark(var(--je-danger-400), var(--je-danger-300));
}

:host([color=success]) {
  --accent: var(--je-success-600);
}

.progress {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  background-color: var(--accent);
  height: var(--je-spacing-2xs);
  animation: shorten linear forwards;
  animation-play-state: paused;

  &.running {
    animation-play-state: running;
  }
}

@keyframes shorten {
  from {
    width: 100%;
  }

  to {
    width: 0;
  }
}