@use '../../styles/styles' as *;

:host {
  display: none;
  overflow: hidden;
  position: relative;
  box-shadow: var(--box-shadow);
  border: var(--border);
  border-radius: radius-get(sm);
  box-sizing: border-box;

  --background: light-dark(rgb(233, 236, 236), rgb(41, 45, 46));
  --color: light-dark(#{medium(800)}, #{medium(300)});
  --box-shadow: 0px 4px 16px 0px light-dark(rgba(0, 0, 0, 0.12), rgba(68, 68, 68, 0.12));
  --border: solid 1px light-dark(rgb(197, 200, 204), rgb(86, 87, 90));
}

:host(.visible) {
  display: block;
}

:host(.open) {
  animation: fadeIn 600ms forwards;
}

:host(:not(.open)) {
  animation: fadeOut 600ms forwards;
}

:host([fixed]) {
  position: fixed;
  width: 100%;
  z-index: 800;
  max-width: 500px;
}

:host([fixed].top-end) {
  top: spacing-get(lg);
  right: spacing-get(lg);
}

:host([fixed].bottom-start) {
  bottom: spacing-get(lg);
  left: spacing-get(lg);
}

:host([fixed].top-start) {
  top: spacing-get(lg);
  left: spacing-get(lg);
}

:host([fixed].bottom-end) {
  bottom: spacing-get(lg);
  right: spacing-get(lg);
}

:host([fixed].top) {
  left: spacing-get(lg);
  top: spacing-get(lg);
  max-width: calc(100% - calc(spacing-get(lg) * 2));
}

:host([fixed].bottom) {
  left: spacing-get(lg);
  bottom: spacing-get(lg);
  max-width: calc(100% - calc(spacing-get(lg) * 2));
}

@keyframes fadeIn {
  from {
    opacity: 0;
    transform: scale(0%);
  }
  to {
    opacity: 1;
    transform: scale(100%);
  }
}

@keyframes fadeOut {
  from {
    opacity: 1;
    transform: scale(100%);
  }
  to {
    opacity: 0;
    transform: scale(0%);
  }
}

[part=header] {
  font-weight: bold;
  display: block;
  padding-block: spacing-get(3xs);
  box-sizing: border-box;
}

je-toolbar.bar {
  background-color: var(--background);
  color: var(--color);
  padding-inline: spacing-get(lg);
  min-height: 62px;
}

je-icon.primary {
  color: primary();
}

.border {
  position: absolute;
  top: 0;
  left: 0;
  background-color: primary();
}

:host([type=bar]) {
  .border {
    width: 100%;
    height: 3px;
  }
}

:host([type=card]) {
  background-color: var(--background);
  color: var(--color);
  padding: spacing-get(md);
  .border {
    width: 3px;
    height: 100%;
  }
  je-toolbar {
    color: inherit;
    background-color: inherit;
  }
  [part=header] {
    font-size: 1.2em;
  }
}

.card-body {
  margin-block: spacing-get(xs);
  display: flex;
}

.progress {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 3px;
  background-color: primary();
  animation: shorten linear forwards;
  animation-play-state: paused;
  &.running {
    animation-play-state: running;
  }
  &:not(.visible) {
    opacity: 0;
  }
}

@keyframes shorten {
  from {
    width: 100%;
  }
  to {
    width: 0;
  }
}
