@use '../../styles/global' as global;
@use '../../styles/colors' as colors;
@use '../../styles/spacing' as spacing;

:host {
  display: none;
  overflow: hidden;
  position: relative;
  box-shadow: var(--box-shadow);
  border: var(--border);
  border-radius: global.border-radius();
  box-sizing: border-box;

  --background: rgb(233, 236, 236);
  --color: #{colors.get(medium, 800)};
  --box-shadow: 0px 4px 16px 0px rgba(0, 0, 0, 0.12);
  --border: solid 1px rgb(197, 200, 204);
}

:host(.visible) {
  display: block;
}

:host(.open) {
  animation: fadeIn 600ms forwards;
}

:host(:not(.open)) {
  animation: fadeOut 600ms forwards;
}

:host([fixed]) {
  position: fixed;
  width: 100%;
  z-index: 800;
  max-width: 500px;
}

:host([fixed][position=top-end]) {
  top: spacing.get(lg);
  right: spacing.get(lg);
}

:host([fixed][position=bottom-start]) {
  bottom: spacing.get(lg);
  left: spacing.get(lg);
}

:host([fixed][position=top-start]) {
  top: spacing.get(lg);
  left: spacing.get(lg);
}

:host([fixed][position=bottom-end]) {
  bottom: spacing.get(lg);
  right: spacing.get(lg);
}

:host([fixed][position=top]) {
  left: spacing.get(lg);
  top: spacing.get(lg);
  max-width: calc(100% - calc(spacing.get(lg) * 2));
}

:host([fixed][position=bottom]) {
  left: spacing.get(lg);
  bottom: spacing.get(lg);
  max-width: calc(100% - calc(spacing.get(lg) * 2));
}

@keyframes fadeIn {
  from {
    opacity: 0;
    transform: scale(0%);
  }
  to {
    opacity: 1;
    transform: scale(100%);
  }
}

@keyframes fadeOut {
  from {
    opacity: 1;
    transform: scale(100%);
  }
  to {
    opacity: 0;
    transform: scale(0%);
  }
}

:host([darkmode]) {
  --background: rgb(41, 45, 46);
  --color: #{colors.get(medium, 300)};
  --box-shadow: 0px 4px 16px 0px rgba(68, 68, 68, 0.12);
  --border: solid 1px rgb(86, 87, 90);
}

[part=header] {
  font-weight: bold;
  display: block;
  padding-block: spacing.get(3xs);
  box-sizing: border-box;
}

je-toolbar.bar {
  background-color: var(--background);
  color: var(--color);
  padding-inline: spacing.get(lg);
  min-height: 62px;
}

je-icon.primary {
  color: var(--je-primary-500);
}

.border {
  position: absolute;
  top: 0;
  left: 0;
  background-color: var(--je-primary-500);
}

:host([type=bar]) {
  .border {
    width: 100%;
    height: 3px;
  }
}

:host([type=card]) {
  background-color: var(--background);
  color: var(--color);
  padding: spacing.get(default);
  .border {
    width: 3px;
    height: 100%;
  }
  je-toolbar {
    color: inherit;
    background-color: inherit;
  }
  [part=header] {
    font-size: 1.2em;
  }
}

.card-body {
  margin-block: spacing.get(xs);
  display: flex;
}

.progress {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 3px;
  background-color: var(--je-primary-500);
  animation: shorten linear forwards;
  animation-play-state: paused;
  &.running {
    animation-play-state: running;
  }
}

@keyframes shorten {
  from {
    width: 100%;
  }
  to {
    width: 0;
  }
}
