@use '../../styles/styles' as *;

:host {
  display: contents;
}

label {
  display: flex;
  align-items: center;
  gap: spacing-get(2xs);
  cursor: pointer;
  -webkit-user-select: none;
  user-select: none;

  &:disabled {
    cursor: not-allowed;
    opacity: 0.6;
  }
}

je-icon {
  color: light-dark(primary(), primary(200));
}
