@use '../../styles/styles' as *;

:host {
  display: flex;
  flex-direction: column;
  gap: spacing-get(3xs);
}

:host(:focus) div[part=container] {
  border-color: light-dark(primary(500), primary(200));
}

:host(:state(--user-invalid)) div[part=container] {
  border-color: light-dark(danger(400), danger(300));
}

je-note {
  margin-left: spacing-get(xs);
}

div[part=container] {
  position: relative;
  box-sizing: border-box;
  display: flex;
  gap: spacing-get(xs);
  border-radius: radius-get(md);
  border: solid 1px light-dark(secondary(), secondary(400));
  align-items: center;
  background-color: light-dark(primary(25), primary(975));
  color: light-dark(secondary(900), secondary(50));
  padding-inline: spacing-get(xs);
  &.sm {
    height: 2.5rem;
  }
  &.md {
    height: 3rem;
  }
  &.lg {
    height: 3.5rem;
  }
  &.disabled {
    opacity: 0.6;
    cursor: not-allowed;
  }
}

input,
textarea {
  background-color: inherit;
  color: inherit;
  font-family: inherit;
  flex: 1;
  min-width: 0;
  outline: 0;
  border: 0;
  margin: 0;
  padding: 0;
  font-size: font-size(md);
  font-weight: font-weight(light);
  color: light-dark(secondary(950), secondary(50));

  &::placeholder {
    font-family: inherit;
    color: light-dark(secondary(750), secondary(650));
    font-size: font-size(md);
    font-weight: font-weight(light);
  }

  &[type=password]::-ms-reveal,
  &[type=password]::-ms-clear {
    display: none !important;
  }
}
