@use '../../styles/colors';
@use '../../styles/spacing';

:host {
  display: flex;
  align-items: center;
  gap: spacing.get(2xs);
  cursor: pointer;
  -webkit-user-select: none;
  user-select: none;
}

je-icon {
  color: colors.primary();
  &:focus {
    outline-color: colors.primary(300);
  }
}

:host(:state(--readonly)) {
  cursor: default;
  je-icon {
    color: colors.primary(800);
  }
}

:host(:state(--disabled)) {
  cursor: not-allowed;
  opacity: 0.5;
}
