@use '../../styles/colors';
@use '../../styles/spacing';

:host {
  display: flex;
  align-items: center;
  gap: spacing.get(2xs);
  cursor: pointer;
  -webkit-user-select: none;
  user-select: none;
}

je-icon {
  cursor: pointer;
  color: colors.get(primary, 500);
  &:focus {
    outline-color: var(--je-primary-300);
  }
}

:host(:state(--readonly)) {
  cursor: default;
  je-icon {
    cursor: default;
    color: colors.get(primary, 800);
  }
}

:host(:state(--disabled)) {
  cursor: not-allowed;
  opacity: 0.5;
  je-icon {
    cursor: not-allowed;
  }
}
