@use '../../styles/styles' as *;

:host {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  box-sizing: border-box;
  gap: spacing-get(xs);
  padding-inline: spacing-get(xs);
  border-radius: radius-get(md);
  height: 1.5rem;
  min-width: 2.5rem;
  -webkit-user-select: none;
  user-select: none;
  transition: all 125ms ease-in-out;
  color: var(--je-pill-color);
  background-color: var(--je-pill-background);

  --je-pill-color: #{primary()};
  --je-pill-background: #{primary(100)};
  --je-pill-hover-background: #{primary(200)};
}

:host([role=button]) {
  cursor: pointer;
}

:host([role=button][disabled]) {
  opacity: 0.6;
  cursor: not-allowed;
}

:host([role=button]:not([disabled]):hover) {
  @media (hover: hover) {
    --je-pill-background: var(--je-pill-hover-background);
  }
}

:host([outline]) {
  background-color: transparent;
  color: var(--je-pill-color);
  border: solid 1px var(--je-pill-background);
}
