:host {
  display: block;
  box-sizing: border-box;
  overflow: auto;
  margin: 0;
  padding: 0;
  border-radius: var(--je-radius-lg);
  border: 1px solid light-dark(var(--je-secondary-200), var(--je-secondary-800));
  background-color: light-dark(var(--je-secondary-50), var(--je-secondary-950));
  color: light-dark(var(--je-secondary-800), var(--je-secondary-200));
}

table {
  width: 100%;
  box-sizing: border-box;
  border-collapse: collapse;
  overflow: auto;
  margin: 0;
  padding: 0;
  text-align: left;
}

thead,
tbody,
tfoot {
  box-sizing: border-box;
}

tfoot:empty {
  display: none;
}

::slotted(je-row[slot=head] th) {
  position: sticky;
  top: 0;
  background-color: light-dark(var(--je-secondary-100), color-mix(in srgb, var(--je-secondary) 15%, black));
  color: light-dark(var(--je-secondary-900), var(--je-secondary-200));
  height: 2rem;
  padding: 0.5rem;
  box-sizing: border-box;
  border: 1px solid light-dark(var(--je-secondary-200), var(--je-secondary-800));
  border-top: 0;
}

::slotted(je-row[slot=head] je-cell:first-child th) {
  border-left: 0;
}

::slotted(je-row[slot=head] je-cell:last-child th) {
  border-right: 0;
}

::slotted(je-row:not([slot]) td) {
  height: 2rem;
  padding: 0.5rem;
  box-sizing: border-box;
  border: 1px solid light-dark(var(--je-secondary-200), var(--je-secondary-800));
}

::slotted(je-row:not([slot]) je-cell:last-child td) {
  border-right: 0;
}

::slotted(je-row:not([slot]) je-cell:first-child td) {
  border-left: 0;
}

::slotted(je-row[slot=foot] td) {
  position: sticky;
  bottom: 0;
  background-color: light-dark(var(--je-secondary-100), color-mix(in srgb, var(--je-secondary) 15%, black));
  color: light-dark(var(--je-secondary-900), var(--je-secondary-200));
  height: 2rem;
  padding: 0.5rem;
  box-sizing: border-box;
  border: 1px solid light-dark(var(--je-secondary-200), var(--je-secondary-800));
  border-bottom: 0;
}

::slotted(je-row[slot=foot] je-cell:last-child td) {
  border-right: 0;
}

::slotted(je-row[slot=foot] je-cell:first-child td) {
  border-left: 0;
}

::slotted(je-row[slot=foot] je-cell:last-child td) {
  border-right: 0;
}