@use '../../styles/global' as global;
@use '../../styles/colors' as colors;

:host {
  display: block;

  --background: rgb(233, 236, 236);
  --color: colors.get(medium, 900);
  --box-shadow: 0px 4px 16px 0px rgba(0, 0, 0, 0.12);
  --border: solid 1px rgb(197, 200, 204);
}

:host([darkmode]) {
  --background: rgb(41, 45, 46);
  --color: colors.get(medium, 50);
  --box-shadow: 0px 4px 16px 0px rgba(68, 68, 68, 0.12);
  --border: solid 1px rgb(86, 87, 90);
}

[part=trigger-container] {
  display: contents;
}

@media (width > 1200px) {
  :host {
    --width: 75%;
    --height: 85%;
  }
}

@media (992px < width < 1201px) {
  :host {
    --width: 80%;
    --height: 90%;
  }
}

@media (768px < width < 993px) {
  :host {
    --width: 85%;
    --height: 95%;
  }
}

@media (width < 769px) {
  :host {
    --width: 100%;
    --height: 100%;
  }
}

[part=content] {
  display: none;
  flex-direction: column;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 700;
  width: var(--width);
  height: var(--height);
  background-color: var(--background);
  color: var(--color);
  box-shadow: var(--box-shadow);
  border-radius: global.border-radius();
  border: var(--border);
  overflow: hidden;
  opacity: 0;
  transition: opacity 250ms ease-in-out;
  &.open {
    display: flex;
  }
}

[part=backdrop] {
  position: fixed;
  top: 0;
  left: 0;
  width: 0;
  height: 0;
  background: global.backdrop-color();
  z-index: 699;
  opacity: 0;
  transition: opacity 250ms ease-in-out;
  &.open {
    width: 100%;
    height: 100%;
  }
  &.clear {
    background: rgba(0, 0, 0, 0);
  }
  &.pointer {
    cursor: pointer;
  }
}
