@use '../../styles/styles' as *;

:host {
  display: contents;

  --background: light-dark(rgb(233, 236, 236), rgb(41, 45, 46));
  --color: light-dark(#{medium(900)}, #{medium(50)});
  --border: solid 1px light-dark(rgb(197, 200, 204), rgb(86, 87, 90));
  --width: 100%;
  --height: 100%;
}

@media (width > 1200px) {
  :host {
    --width: 75%;
    --height: 85%;
  }
}

@media (992px < width < 1201px) {
  :host {
    --width: 80%;
    --height: 90%;
  }
}

@media (768px < width < 993px) {
  :host {
    --width: 85%;
    --height: 95%;
  }
}

[part=inner-container] {
  box-sizing: border-box;
  width: 100%;
  height: 100%;
}

dialog[open] {
  opacity: 1;
}

dialog {
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border: var(--border);
  background-color: var(--background);
  color: var(--color);
  width: var(--width);
  max-width: 100vw;
  max-height: 100vh;
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  height: var(--height);
  border-radius: radius-get(md);
  box-shadow: elevation-get(lg);
  opacity: 0;
  transition: all 300ms ease-in-out allow-discrete;
  &:focus-visible {
    outline: 0;
  }
}

dialog::backdrop {
  opacity: 0;
  background-color: backdrop-color();
  transition: all 300ms ease-in-out allow-discrete;
}

dialog.dismiss::backdrop {
  cursor: pointer;
}

dialog[open].show::backdrop {
  opacity: 1;
}

@starting-style {
  dialog[open].show::backdrop {
    opacity: 0;
  }

  dialog[open] {
    opacity: 0;
  }
}
