@use '../../styles/colors';

:host {
  display: inline-block;
}

:host([color=primary]), :host([color=auto][primary]) {
  color: colors.primary();
}

:host([color=error]), :host([color=auto][error]) {
  color: colors.error();
}

:host([color=secondary]), :host([color=auto][secondary]) {
  color: colors.secondary();
}

:host([color=tertiary]), :host([color=auto][tertiary]) {
  color: colors.tertiary();
}

:host([color=warning]), :host([color=auto][warning]) {
  color: colors.warning();
}

:host([color=success]), :host([color=auto][success]) {
  color: colors.success();
}

:host([color=medium]), :host([color=auto][medium]) {
  color: colors.medium();
}

:host([color=light]), :host([color=auto][light]) {
  color: colors.medium(100);
}

:host([color=dark]), :host([color=auto][dark]) {
  color: colors.medium(850);
}
