:host {
  display: block;
  width: 100%;
}

:host(:hover) span[part='container'], :host(.focus) span[part='container'] {
  background-color: var(--je-option-hover-color);
}

span[part='container'] {
  display: flex;
  align-items: center;
  gap: var(--je-gap-sm);
  user-select: none;
  cursor: pointer;
  width: 100%;
  padding: var(--je-padding-sm, 10px);
  background-color: transparent;
  color: inherit;
  transition: background-color 75ms ease-in;
}
