:host {
  display: block;
  width: 100%;
  --je-option-hover-color: var(--je-primary-100);
}

:host([darkmode]) {
  --je-option-hover-color: var(--je-medium-850);
}

:host(:hover) span[part='container'], :host(.focus) span[part='container'] {
  background-color: var(--je-option-hover-color);
}

span[part='container'] {
  display: flex;
  align-items: center;
  gap: var(--je-spacing-2xs);
  user-select: none;
  cursor: pointer;
  width: 100%;
  padding: var(--je-spacing-xs, 10px);
  background-color: transparent;
  color: inherit;
  transition: background-color 75ms ease-in;
}

je-icon {
  cursor: pointer;
}
