@use '../../styles/styles' as *;

:host {
  display: inline-flex;
  font-weight: font-weight(light);
  color: light-dark(secondary(700), secondary(400));
  font-size: font-size(sm);
  gap: spacing-get(2xs);
}

:host([invalid]) {
  color: light-dark(danger(400), danger(300));
}
